@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Vina+Sans&display=swap');
body, html {
    margin: 0;
    padding:  0;
    
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12vh 76vh 12vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1;
    background-color: beige;
    border-color: rgb(25, 238, 25);
    background: linear-gradient(to right, brown, rgb(165, 122, 42));
    border-style: solid;
    overflow: auto;
}

footer {
    grid-row: 3;
    background: linear-gradient(to right, brown, rgb(165, 122, 42));
    border-style: solid;
    border-color: rgb(25, 238, 25);
}

h1 {
    font-family: Nova square;
    font-size: 3vw;
    background: linear-gradient(to right, rgb(255,0,0), rgb(255,165,0), rgb(255,255,0), rgb(0,128,0), rgb(0,0,255), rgb(75,0,130), rgb(238,130,238));
    -webkit-background-clip: text;
    color: transparent;
    padding-left: 20px;
}


main {
    background-image: url(homeImg/jungleBackground.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#janela-modal {
    display: none;
}

h2 {
    color: bisque;
    font-family: Nova square;
}

a {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: bisque;
    border-style: solid;
    border-color: rgb(25, 238, 25);
    font-family: Nova square;
    font-weight: bolder;
}
