body {
  min-height: 90vh;
  background-image: url("./imagens/background.png");
  overflow: hidden;
}
#macaco {
  position: absolute;
  top: 75%;
  transform: translate(-50%, 0%);
  z-index: 9;
}

@keyframes spin {
  0% {
    transform: rotate(-0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.banana {
  animation: spin 0.35s linear infinite;
}

.explosao {
  height: 150px;
}
